* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(-primary-text-color);
  font-size: 3rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;

  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);

  line-height: 1.8rem;
}
.container {
  max-width: 1350px;
  margin-inline: auto;
  padding-inline: 10px;
}
a {
  text-decoration: none;
  display: inline-block;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-banner {
  align-items: center;
  justify-content: center;
}
.bttn1 a{
  color: white;
}
nav ul li {
  justify-content: space-between;
  list-style: none;
}
.top-banner {
  background-color: #6d1b4f;
  color: rgb(255, 255, 255);
  margin-inline: auto;
}
.small-text {
  text-align: center;
  height: 46px;
}
.small-text p {
 
color: white;
  background-image: url(./img/asset\ 32.png);
}
.image {
  width: 227px;
  padding: 12px 3px;
}
.second-head {
  justify-content: space-between;
}
ul li {
  font-size: 20px;
  justify-content: space-between;
  padding: 0 5px;
  margin: 4px 5px;
}
ul li a {
  color: black;
}
ul li a:hover {
  color: var(--accent-color);
  transition: 0.2s ease-out;
}
.button {
  background-color: var(--accent-color);
  color: white;
}
.btn1{

  border: black
  solid 2px;
  border-radius: 7px ;
  height: 31px;
}
.btn2{
  border: solid 2px black ;
  border-radius: 7px ;
  height: 31px;
}
.btn1:hover {
  border: black solid 2px;
  background-color: white;
  
}
.btn2:hover {
  border: black solid 2px;
  background-color: var(--primary-text-color);
  color: var(--accent-color);
}
text{
color: white;
}
.img2{
justify-content: space-between;
flex-direction: column;
float: left;

}
.immg{
  height: 411px;
  width: 572px;
}

.text{
  color: black !important;
  font-size: 25px;
  margin-top: 10px;
}
.heading-1{
  color: var(--accent-color);
  margin-top: 20px
}
.btn5{
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
  border: black 1px solid;
  text-align: center;
  font-size: 16px;
  position: static;
  float: left;
  padding: 13px 32px;
  margin-top: 20px
}
.btn5:hover{
  background-color: 
  var(--accent-color-dark);
}
.hh1{
  margin-top: 40px;
  flex-direction: row-reverse;
}
.txt2{
  font-size: 20px;
}
.comapanies-h1{
  text-align:center ;
  margin-top: 40px;
}
.comapany-logos
{
  margin-top: 30px;
  margin-bottom: 30px;
box-sizing: border-box;
  flex-direction: row;

}
.company-logos img{
  height: 46px;
  width: 170px;
  justify-content: space-between;
  margin: 10px 17px
}
.fhead{
  margin-top: 100px;
  flex-direction: column;
}
.features-section{
  margin-top: 20px;
}
.midsec1{
  max-width: 30%;
  min-width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 1.5%;
  padding-left: 1.5%;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  text-align: center;
  flex-direction: row;
}
.features-section{
  flex-direction: column;
}
.btn7{
  border: solid 1.5px black;
  border-radius: 4px;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  color: white;

}
.btn7:hover{
  background-color: var(--accent-color-dark);
  color: white;
}
.btn9{
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--accent-color);
  border: black 1px solid;
  text-align: center;
  font-size: 16px;
  position: static;
  float: left;
  padding: 13px 32px;
  margin-top: 20px
}
.btn9:hover{
  background-color: var(--accent-color-dark);
  color: white;
}
.midsec1 a{
  margin-left: 70px;
}
.line1 img{
  height: 58px;
  width: 52px;
}
.line2 img{
  height: 58px;
  width: 52px;
}
.downimg{
  float: right;
  justify-content:left;
  flex-direction: column;
}
.hdsection{
  flex-direction: row-reverse;
  justify-content: space-between;
}
.hdsection img{
  height: 550px;
  width: 650px;
  float: left;
}
.para{
  margin-top: 38px;
  text-align: center;
  float: right;
  margin-left: 10px;
}
.second-img{
  display: flex;
 flex-direction: row;
}
.imgg33{
  height: 20px;
  width: 10px;
  float: left;
}
.textsizecolor
{
font-size: 25px;
}
.textsize{
 color: var(--secondary-text-color);
}
.h11{
 
  height: 30px;
}
h4{
  margin-top: 20px;
}
.imcc2{
  margin-top: 30px;
}
.big-feature-section{
  margin-top: 80px;
  flex-direction: column;
}
.t22{
  color: var(--primary-text-color);
  font-size: 59px;
}
.examples-section{

}
.box{
 
  height: 100px;
}
.list{
  margin-top: 20px;
  flex-direction: row;
  justify-content: left;
}
.list ul li{
  margin: 15px 24px;
  color: white;
 
}
.cta-section{
flex-direction: row;

}
.imcc44{
 


}
.imcc44 img{
  background-image: url(./img/asset\ 0.png );
  float: right;
  background-position: center;
  background-repeat: no-repeat;
    background-size: 150px;
  
  height: 655px;
}
.backgrd{
  background-color: #132f45;
}
.side{
  justify-content: left;
  flex-direction: column;
  align-items: baseline;
}
.side h1{
  color: white;
}
.side h2{
  margin-top: 20px;
  color: white;
}
.side p{
  color: rgb(188, 216, 223);
}
.footer{
  margin: 47px 19px;
  padding: 17px 23px;
  flex-direction: column;
}
.btnn9{
  padding: 20px 46px;
  margin-top: 20px;
}

.footer h1{
  margin-top: 25px;
  color: var(--secondary-text-color);
}
.footer p{
  margin-top: 25px;
  color: var(--primary-text-color);
}
.t6{display: flex;
  flex-direction: column;
}
.forflex{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.sideinfo{
 
  float: right;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.t1{color: black;
  font-size: 30px;
  margin-bottom: 30px;
}
.t6 a{
  margin: 3px 20px;
  font-size: 26px;
}
.subfooter{
  height: 470px;

  background-color: #b7c4c7;
}
.lastpart{
  justify-content: space-around;
  height: 85px;
  background-color:#a8c2e2;
}
.flex7 p {
  margin: 0 15px;
}
.small-logos img{
  margin: 0 15px;
}